%h1=h @page_title = "Rechnungen von #{@account.module} (#{@account.username})"

%table
  %thead
    %tr
      %th Datum
      %th Nummer
      %th Betrag
      %th Aktionen
  %tfoot
    %tr
      %td
      %td
      %td.right= number_to_currency @sum
      %td
  %tbody
    = render collection