%tr
  %td= h imap_account.host
  %td= h imap_account.username
  %td
    = link_to 'bearbeiten', [:edit, imap_account]
    \|
    = link_to 'löschen', imap_account, :method => :delete, :confirm => 'Diesen Account löschen?'