%h1=h @page_title = 'Konten'

%table
  %thead
    %tr
      %th Anbieter
      %th Account
      %th Rechnungen
      %th
  %tbody
    = render collection

%p= link_to 'Neues Konto anlegen', new_resource_path