%h1=h @page_title = 'Accounts'

%table
  %thead
    %tr
      %th Anbieter
      %th Account
      %th Rechnungen
      %th
  %tbody
    = render collection

%p= link_to 'Neuen Account anlegen', :new_account